doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootflat.css')
  body
    block content
    block scripts
      script(src='/javascripts/jquery.min.js')
      script(src='/javascripts/tether.min.js')
      script(src='/javascripts/bootstrap.min.js')